@use './abstracts' as ab;

// Font weight
@function weight($weight-name) {
  @return map-get(ab.$font-weights, $weight-name);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ab.$Fraunces;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

nav {
  position: absolute;
  margin: 0.5rem;
  // If you want the navbar to scroll with the page
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: ab.$Barlow;
  transition: top 0.3s;
}

a {
  color: ab.$white;
  text-decoration: none;
}

.logo img {
  width: 175px;  
  list-style-type: none;
}

// Mobile menu
.menu {
  display: none;
}

.item {
  padding: 1rem 1.3rem;
}

.item.button a {
  padding: 1rem 2rem;
  color: ab.$black;
  text-transform: uppercase;
  font-family: ab.$Fraunces; 
  font-size: 1rem;
  transition: 0.3s;
  background-color: ab.$white;
  border-radius: 3rem;

  &:hover {
    color: ab.$white;
    background-color: #6ED1FB;
  }
}

.hamburger {
  margin-top: 5px;
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background-color: ab.$white;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
  }

  &:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: ab.$soft-red;
  }

  &.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
  }

  &.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
  }

  &.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
  }

  &.is-active:hover span {
    background-color: ab.$soft-red;
  }
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("./../images/desktop/image-header.jpg");

  /* Set a specific height */
  height: 800px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: ab.$white;
  font-size: 1.7rem;
  letter-spacing: 0.80rem;
  text-transform: uppercase;
  
  h1 {
    padding-bottom: 5rem;
    font-weight: weight(bold);
  }
}

.row {
  display: flex;
  width: 100%;
}

.cubeContainer {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50%;
  height: 600px;
}

.box-transform, .box-stand-out {
  background-color: ab.$white;
  vertical-align: middle;
  
  h1 {
    padding: 10rem 6rem 1.5rem 9rem;
    font-size: 2.6rem;
    font-weight: weight(bold);
  }
  
  p {
    padding: 0 8.5rem 2rem 9rem;
    font-weight: weight(thin);
    font-size: 1.1rem;
    font-family: ab.$Barlow;
    color: ab.$dark-gray-blue;
    line-height: 1.90rem; 
  }
  
  a {
    padding: 0 0 0 9.5rem;
    color: ab.$black;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: weight(bold);
  }
}

.underline_yellow {
  margin: 0 0 0 9rem;
  width: 135px;
  height: 7px;
  background-color: hsl(51, 100%, 84%);
  margin-top: -8px;
  border-radius: 4px;
  transition: 0.4s;
}

.underline_red{
  margin: 0 0 0 9rem;
  width: 135px;
  height: 7px;
  background-color: hsl(7, 99%, 80%);
  margin-top: -8px;
  border-radius: 4px;
  transition: 0.4s;
}

.more-link:hover  .underline_yellow{
  background-color:hsl(51, 100%, 54%);
}

.more-link:hover  .underline_red{
  background-color: hsl(7, 99%, 70%);
}

.box-egg {
  background-image: url("./../images/desktop/image-transform.jpg");
}

.box-glass {
  background-image: url("./../images/desktop/image-stand-out.jpg");
}

.box-graphic-design {
  background-image: url("./../images/desktop/image-graphic-design.jpg");
  color: ab.$desat-cyan;
}

.box-photography {
  background-image: url("./../images/desktop/image-photography.jpg");
  color: ab.$dark-blue;
}

.box-graphic-design, .box-photography {
  
  .text-over {
    text-align: center;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1 {
      font-weight: weight(bold);
      font-size: 1.75rem;
      padding-bottom: 2rem;
    }
    
    p {
      font-size: 1rem;
      line-height: 1.75rem;
      font-family: ab.$Barlow;
      padding: 0rem 0.5rem; 
    }
  }
}

.box-egg, .box-glass, .box-graphic-design, .box-photography {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.testimonials {
  padding: 10rem;
}

.testimonial-header {
  text-align: center;
  text-transform: uppercase;
  color:ab.$dark-gray-blue;
  letter-spacing: 0.3rem;
  font-size: 1.35rem;
  padding-bottom: 3rem;
}

.testimonial-container {
  display: flex;
  justify-content: center;
}

.testimonial {
  text-align: center;
  width: 350px;
  margin: 0.80rem;
  padding-top: 1rem;
  
  .testimonial-image {
    border-radius: 100%;
    width: 75px;
  }

  p {
    font-family: ab.$Barlow;
    color: ab.$very-dark-gray-blue;
    line-height: 2rem;
    margin: 3rem 0;
  }
  
  h2 {
    font-size: 1.15rem;
    font-weight: weight(bold);
    padding: 1rem 0;
  }
  
  h3 {
    color:ab.$gray-blue;
    font-size: 0.9rem;
    font-family: ab.$Barlow;
  }
}

.art-container {
  display: flex;

  img {
    width: 25%;
  }
}

footer {
  background-color: ab.$light-cyan;
  color: ab.$desat-cyan;
  text-align: center;
  
}

.footer-logo {
  margin: 4rem 0 2rem 0;
  width: 175px;
  filter: invert(24%) sepia(60%) saturate(313%) hue-rotate(116deg) brightness(46%) contrast(88%);
}
  
.footer-link, i {
  font-family: ab.$Barlow;
  color: ab.$moderate-cyan;

  &:hover {
    color: ab.$white;
    transition: 0.4s;
  }
}

.link-container {
  margin-bottom: 4.5rem;
}

.footer-link {
  margin: 1.75rem;
  font-size: 1.2rem;
}

.social-media {
  margin-bottom: 4rem;
}

.fa-brands {
  margin: 0.85rem;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
  }
}

// ----------------------------------- Mobile --------------------------------- //
@media (max-width: 768px) {

  .logo img {
    padding-top: 0.5rem;
    width: 125px;  
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("./../images/mobile/image-header.jpg");
    height: 538px; 
  }
  
  .hero-text {
    padding-top: 7.5rem;

    h1 {
      padding-bottom: 3.5rem;
      font-weight: weight(bold);
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
    }
  }

  .row {
    flex-direction: column;
  }
  
  .box {
    width: 100%;
    height: auto; 
  }

  .box-egg {
    background-image: url("./../images/mobile/image-transform.jpg");
    order: 1;
    height: 312px; 
  }
  
  .box-glass {
    background-image: url("./../images/mobile/image-stand-out.jpg");
    height: 312px; 
  }
  
  .box-graphic-design {
    background-image: url("./../images/mobile/image-graphic-design.jpg");
  }
  
  .box-photography {
    background-image: url("./../images/mobile/image-photography.jpg");
  }

  .box-transform {
    order: 2;
  }

  .box-transform, .box-stand-out {
    text-align: center;
    height: 438px;

    h1 {
      padding: 4rem 1rem 1.5rem 1rem;
      font-size: 2rem;
    }
  
    p {
      padding: 0 2rem 2rem 1rem;
    }
    
    a {
      padding: 0rem;
    }
  }
  
  .underline_yellow, .underline_red {
    margin: auto;
    margin-top: -8px;
  }
  
  .box-graphic-design, .box-photography {
    height: 600px;

    .text-over {
      position: absolute;
      top: 78%;
      left: 50%;
      width: 100%;
      
      h1 {
        font-weight: weight(bold);
        font-size: 1.75rem;
        padding-bottom: 2rem;
      }
      
      p {
        font-size: 1rem;
        line-height: 1.75rem;
        font-family: ab.$Barlow;
        padding: 0 1rem; 
      }
    }
  }

  .testimonials {
    padding: 4rem 0 0 0;
  }

  .testimonial-header {
    letter-spacing: 0.3rem;
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 330px;
    padding-bottom: 2rem;

    p {
      font-family: ab.$Barlow;
      color: ab.$very-dark-gray-blue;
      line-height: 2rem;
      margin: 1rem 0;
    }
    
    h2 {
      font-size: 1.15rem;
      font-weight: weight(bold);
      padding: 1rem 0;
    }
    
    h3 {
      color:ab.$gray-blue;
      font-size: 0.9rem;
      font-family: ab.$Barlow;
    }
  }

}

@media (max-width: 500px) {
  .art-container {
    flex-wrap: wrap;

    img {
      width: 50%;
      height: 188px;

      &:nth-child(1) {
        content: url("./../images/mobile/image-gallery-milkbottles.jpg");
      }

      &:nth-child(2) {
        content: url("./../images/mobile/image-gallery-orange.jpg");
      }

      &:nth-child(3) {
        content: url("./../images/mobile/image-gallery-cone.jpg");
      }

      &:nth-child(4) {
        content: url("./../images/mobile/image-gallery-sugar-cubes.jpg");
      }
    }
  }
}

.attribution { font-size: 11px; text-align: center; margin-top: 2rem;}
.attribution a { color: ab.$purple-blue; }